@import "variables";
@import url('https://fonts.google.com/specimen/Inter)');

*{
    @include all_elements;
}

body
{
    @include flex;
    border: $border;
    height: 100vh;
    background: $grey-900;

    #content > *
    {
        flex-shrink: 0;
    }

    #content
    {
        @media (min-width: $mobile) {
            @include query(74%);
            padding: 20px 0;
        }

        @media(min-width: $tablet)
        {
            @include query(43%);
        }

        @media(min-width: $desktop)
        {
            @include query(27%);
        }

        border: $border;
        @include flex-column;
        padding: 10px;
        background: $grey-800;
        border-radius: $border-radius;

        img
        {
            width: 70px;
            height: 70px;
            border-radius: 50%;

            @media(min-width: $tablet)
            {
                width: 90px;
                height: 90px;
            }
        }

        .headers
        {
            p.name{
                color: $white;
                font-weight: 900;
                margin-bottom: 5px;
            }

            p.location{
                font-weight: 600;
                color: $green;
            }
        }

        p{
            font-size: 12px;
            color: $white;
            text-align: center;
            margin: 15px 0;
        }

        #social-media-links{
            display: flex;
            flex-direction: column;
            width: 89%;
            margin-top: 15px;

            a
            {
                @include link;

                &:hover
                {
                    background: $green;
                    color: $grey-900;
                }
            }
        }
    }
}
