@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{
    @include links;
}

body
{
    background: $grey-800;
    @include flex;
    border: $border;
    height: 100vh;

    #content
    {

        width: 28%;
        height: 80vh;
        padding: 10px;
        border: $border-radius;
        border: $border;
        @include flex;

        .main-content
        {
            height: 80%;
            width: 84%;
            border: $border;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;




            #img-container
            {
                @include flex;

                img
                {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
            }





            p
            {
                text-align: center;
            }

            .buttons{
                display: flex;
                flex-direction: column;

                width: 90%;
                margin-top: 20px;

                button
                {
                    @include button;
                }
            }



        }

    }
}
